body{
    background-image: url("black.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
{
    background:linear-gradient(lightblue,lightpink);

}
html{
    background-color: black;
}
body{
    -webkit-text-fill-color:beige;
}
h1{
    -webkit-text-fill-color:lightblue;
}
